import cn from 'classnames';
import { ForwardedRef, forwardRef, ReactElement } from 'react';

import type { {{pascalCase name}}Props } from './{{kebabCase name}}.types';

import './{{kebabCase name}}.scss';

/**
 * The component description.
 *
 * ### Usage
 *
 * ```tsx
 * import { {{pascalCase name}} } from '@bloomreach/react-banana-ui';
 *
 * export default function MyCustomComponent() {
 *   return <{{pascalCase name}}>Write an example of component usage</{{pascalCase name}}>;
 * }
 * ```
 */
const {{pascalCase name}} = forwardRef((
  props: {{pascalCase name}}Props,
  forwardedRef: ForwardedRef<HTMLDivElement> | null,
): ReactElement => {
  const {
    className,
    children,
    ...rest // Capture any other properties to pass them to the root element, like `aria-*`, `data-*`, etc.
  } = props;

  return (
    <div
      {...rest}
      className={cn('rbui-{{kebabCase name}}')}
      ref={forwardedRef}
    >
      {children}
    </div>
  );
});

{{pascalCase name}}.displayName = '{{pascalCase name}}';

export default {{pascalCase name}};
